<header >
    {{!-- <div style="display: flex;
        justify-content: center;">
        <img src="http://128.199.82.123/EmailTemplate/Applogo.png"
            alt="logo.png" style="max-width: 19%!important;
            width: 19%;
            height: auto!important;" />
    </div>
    <hr> --}}
</header>