<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Slot Unavailability</title>
</head>

<body style=" background: #DAF5FF;">
    <div style=" background: #fff;  width: 100% ">
        <div style="padding: 15% 5% 0; ">
            
            <p style="font-family: Verdana; color: #1C1E3A;
                    font-size: 18px; font-weight: 500">Dear Riya, </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                I hope this message finds you well. I regret to inform you that the slot you have requested is currently
                unavailable. I apologise for any inconvenience this may have caused.

            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                Please consider selecting an alternative time or option that best suits your needs. Our team is ready to
                assist you in any way possible, so please do not hesitate to contact us if you have any questions or
                require further assistance.



            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                Thank you for your understanding and cooperation. We wish you the best of luck with your endeavours.




            </p>

            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">


                Best regards,<br>
                jhon




            </p>



            <br>
            <br>
        </div>
        {{>footer}}

    </div>
</body>

</html>