<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <body style=" background: #DAF5FF;">
        <div style=" background: #fff;  width: 100% ">
            <div style="padding: 15% 5% 0; ">
                {{>header}}
                <p style="font-family: Verdana; color: #1C1E3A;
                    font-size: 18px; font-weight: 500">Dear Host, </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    We hope this email finds you in good health. We are pleased to provide you with the login
                    credentials.


                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    Email: {{email}} <br>
                    Username: {{userName}}<br>
                    Mobile Number: {{mobileNumber}}<br>
                    Password: {{password}}<br>
                    Role: Host<br>




                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    Please ensure that you keep your login details confidential and do not share them with anyone.
                </p>

                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                    If you face any issues while logging in or have any queries, please feel free to contact us.
                    We are always here to assist you.
                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                    Thank you.
                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    Best regards,<br>
                    Rohit

                </p>
                <br>
                <br>
            </div>
            {{>footer}}

        </div>
    </body>
</body>

</html>