<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style=" background: #DAF5FF;">
    <div style=" background: #fff;  width: 100% ">
        <div style="padding: 15% 5% 0; ">
            {{>header}}
            <p style="font-family: Verdana; color: #1C1E3A;
                    font-size: 18px; font-weight: 500">Dear {{userName}}, </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                I hope this email finds you well.

            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                Resetting your password is easy. Our team has implemented a simple and secure process to ensure a
                seamless experience for you. To get started, please follow the instructions below:
            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                1. Click on the "Reset Password" button provided below.<br>
                2. You will be redirected to our password reset page.<br>
                3. Enter your registered email address and follow the on-screen prompts to verify your identity.<br>
                4. Once verified, you will be able to create a new password for your account.<br>




            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
              Reset Password
              Link: {{verificationURL}}
            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                If you encounter any difficulties during this process, please don't hesitate to contact us, will be
                happy to assist you.
            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                Thank you for choosing our services. We appreciate your patience and cooperation.
            </p>
            <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                Best regards,
            </p>

            <br>
            <br>
        </div>
        {{>footer}}

    </div>
</body>

</html>