<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <body style=" background: #DAF5FF;">
        <div style=" background: #fff;  width: 100% ">
            <div style="padding: 15% 5% 0; ">
                {{>header}}
                <p style="font-family: Verdana; color: #1C1E3A;
                    font-size: 18px; font-weight: 500">Dear Jatin, </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                    I wanted to personally reach out and express my gratitude for taking the time to fill out our form.
                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    {{!-- Journey ld:{{1224}}<br>
                    User name: {{jatin}}<br>
                    Email: {{jatin@gmail.copm}}<br </p> --}}
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    If you have any further questions or concerns, please don't hesitate to reach out to us. We are here
                    to assist you in any way we can.
                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">

                    Thank you once again for your participation and for being a valued member of our community.



                </p>
                <p style="font-weight: 400; font-size: 16px ;
                    color: #1C1E3A; font-family:
                    Verdana; color: #2f5496">
                    Best regards,
                </p>



                <br>
                <br>
            </div>
            {{>footer}}

        </div>
    </body>
</body>

</html>